* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: auto;
    width: 80%;
}

/* IMPOSTATO LA GRANDEZZA E IL COLORE DELL'INTESTAZIONE */
.heading{
    width: 100%;
    height: 100px;
    position: relative;
}
/* IMPOSTATO LA GRANDEZZA E LE DIMENSIONI DEL LOGO */
.heading img{
    height: 50%;
    padding-right: 20px;
    border-right: 1px solid lightgrey;
}
/* POSIZIONATO IL MENU IN BASSO DEL CONTENITORE HEADING */
.menu {
    position: absolute;
    bottom: 0px;
}
/* IMPOSTATO IL MENU IN ORIZZONTALE E SPAZIATO LE VOCI TRAMITE IL MARGIN */
.menu li {
    display: inline-block; 
    margin-right: 10px;
}
/* STILIZZATO IL MENU  */
.menu li > a {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
}
/* IMPOSTATO L'ALTEZZA IL COLORE E I MARGINI DELLA SEZIONE */
.yellow{
    background-color: #e1d67a;
    height: 500px;
    margin: 2% auto;
}
/* IMPOSTATO LE GRANDEZZE E IL COLORE DELLA SEZIONE BLU */
.blue{
    width: 100%;
    background-color: #0186ff;
    padding-bottom: 2%;
}
/* IMPOSTATO LE GRANDEZZE E IL COLORE DELLA SEZIONE AZZURA */
.light-blue-up{
    background-color: #abcfe7;
    width: 100%;
    height: 50px;
    margin: 2% auto;
}
/* IMPOSTATO LE GRANDEZZE, IL COLORE E IL FLOAT DELLE SEZIONI AZZURE PICCOLE */
.light-blue-s{
    float: left;
    background-color: #abcfe7;
    height: 500px;
    width: 20%;
}
/* IMPOSTATO LE GRANDEZZE, IL COLORE E IL FLOAT DELLA SEZIONE AZZURA GRANDE */
.light-blue-b{
    float: left;
    background-color: #abcfe7;
    height: 500px;
    width: 56%;
    margin: auto 2%;
}
/* AGGIUNTO IL CLEAR  */
.blue::after{
    content: "";
    display: table;
    clear: both;
}
/* IMPOSTATO LE GRANDEZZE E IL COLORE DEL PIE' DI pagina */
.foot {
    background-color: #8801fe;
    width: 100%;
    height: 50px;
    margin-top: 1%;
}